--- 
layout: layouts/base.njk 
---
<section class="breadcrumb_area">
  <img class="breadcrumb_shap" src="/img/breadcrumb/banner_bg.png" alt="">
  <div class="container">
    <div class="breadcrumb_content text-center">
      <h1 class="f_p f_700 f_size_50 l_height50 mb_20">About us</h1>
      <p class="f_400 f_size_16 l_height26">Yamasee was established in 2015 by pilots who have set their vision on solving the turbulence problem. The aviation community has been trying to come to grips with CAT (Clear Air Turbulence) For over 30 years. The available data is cumbersome, elusive and unreliable in guiding pilots in midair, raising major questions in the commercial aviation turbulence field.</p>
    </div>
  </div>
</section>
<section class="agency_service_area bg_color">
  <div class="container">
    <h2 class="f_size_30 f_600 t_color3 l_height40 text-center">The Team</h2>
    <div class="container-fluid d-flex justify-content-center mt-100">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <img src="/img/team/zivi_s.jpg" class="rounded-circle" width="200" height="200">
              <h5 class="card-title mt-2 mb-1">Zivi Nedivi</h5>
              <span class="fs-2 mb-3 font-weight-bold">President & CEO</span>
              <p class="font-weight-light text-left mb-3 mt-3">Previously he served as the president and CEO of Cyalume Technologies, a leading designer and manufacturer of proprietary chemical illumination products for the safety, security, and medical markets. Prior to Cyalume Mr. Nedivi was CEO and then special advisor of Axiom Investment Advisors, a $1.6 billion hedge fund specializing in currencies, before that Mr. Nedivi served as Chief Operating Officer at Lumenis Ltd, the world's leading medical laser company. From 1990 to 2005 Mr. Nedivi was President and CEO of Kellstrom Aerospace and Kellstrom Industries. Prior to his business career, Mr. Nedivi served as an F-15 fighter pilot in the Israeli Air Force.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <img src="/img/team/relik_s.jpg" class="rounded-circle" width="200" height="200">
              <h5 class="card-title mt-2 mb-1">Relik Shafir</h5>
              <span class="fs-2 mb-3 font-weight-bold">Chairman</span>
              <p class="font-weight-light text-left mb-3 mt-3">Mr. Shafir is the Chairman of Yamasee and is actively involved in organizational planning and in in the strategic direction of the company. Before Yamasee Mr. Shafir served 30 years in the IAF as a F-4, F-15, and F-16 fighter pilot. His command posts included an F-4 fighter squadron, the IAF Flight Academy, an F-16 wing and base and the largest base in the IAF, Tel-Nof. Since his retirement from the IAF, Mr. Shafir held managerial positions in the software and energy industries. Prior to his current position Mr. Shafir was CEO of IEI, a scientific oil shale exploratory company. Mr. Shafir is a Mathematics and Philosophy major, and a graduate of the Naval Post Graduate School in Monterey California. As a reserve officer, Mr. Shafir serves as the IAF spokesperson in emrgencies and as a safety officer in the IAF missile testing unit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <img src="/img/team/oran_s.jpg" class="rounded-circle" width="200" height="200">
              <h5 class="card-title mt-2 mb-1">Oran Hampel</h5>
              <span class="fs-2 mb-3 font-weight-bold">Chief innovation officer</span>
              <p class="font-weight-light text-left mb-3 mt-3">Capt. Hampel is the inventor of SkyPath and serves as Yamasee's Chief of Innovation. He's also an ELAL senior 787/777 Captain and check pilot, with over 15,000 flight hours, He is licensed in the B737NG, B757, B767. Prior to advancing to the wide body fleet, he was chief pilot and fleet manager of B737s, as well as an instructor, check airmen, with over 100 pilots reporting to him. Prior to ELAL, Capt. Hampel was a consultant at the Israel Aircraft Industries in the LAVI fighter development program. During his service in the IAF, he was an F-15 pilot . He is also an expert in aviation safety.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <img src="/img/team/maya_s.jpg" class="rounded-circle" width="200" height="200">
              <h5 class="card-title mt-2 mb-1">Maya Shpak</h5>
              <span class="fs-2 mb-3 font-weight-bold">Chief Operation Officer</span>
              <p class="font-weight-light text-left mb-3 mt-3">Capt. Hampel is the inventor of SkyPath and serves as Yamasee's Chief of Innovation. He's also an ELAL senior 787/777 Captain and check pilot, with over 15,000 flight hours, He is licensed in the B737NG, B757, B767. Prior to advancing to the wide body fleet, he was chief pilot and fleet manager of B737s, as well as an instructor, check airmen, with over 100 pilots reporting to him. Prior to ELAL, Capt. Hampel was a consultant at the Israel Aircraft Industries in the LAVI fighter development program. During his service in the IAF, he was an F-15 pilot . He is also an expert in aviation safety.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <img src="/img/team/oron_s.jpg" class="rounded-circle" width="200" height="200">
              <h5 class="card-title mt-2 mb-1">Oron Adam</h5>
              <span class="fs-2 mb-3 font-weight-bold">CTO</span>
              <p class="font-weight-light text-left mb-3 mt-3">Oron providers management oversight on everything which is technology related. Making sure our service uses the latest and greatest technologies while still being reliable and highly available. He has 20 years industry experience as a Software Architect and CTO in various companies and holds a B.A in computer science.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body text-center">
              <img src="/img/team/oran_s.jpg" class="rounded-circle" width="200" height="200">
              <h5 class="card-title mt-2 mb-1">Oran Hampel</h5>
              <span class="fs-2 mb-3 font-weight-bold">Chief innovation officer</span>
              <p class="font-weight-light text-left mb-3 mt-3">Capt. Hampel is the inventor of SkyPath and serves as Yamasee's Chief of Innovation. He's also an ELAL senior 787/777 Captain and check pilot, with over 15,000 flight hours, He is licensed in the B737NG, B757, B767. Prior to advancing to the wide body fleet, he was chief pilot and fleet manager of B737s, as well as an instructor, check airmen, with over 100 pilots reporting to him. Prior to ELAL, Capt. Hampel was a consultant at the Israel Aircraft Industries in the LAVI fighter development program. During his service in the IAF, he was an F-15 pilot . He is also an expert in aviation safety.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</section>